.profile-page-header img {
    border-radius: 50%;
}


.profile-page-orders {
    display: flex;
    justify-content: space-between;
 }
.profile-page-orders p {
    text-transform: uppercase;
    color: hwb(0 100% 0%);
    background-color: #406a52;
    padding: 5px;
    border-radius: 8px;
}

.profile-page-orders p span {
     color: #FFF;
     background-color: #ff5163;
     padding:2px 5px;
     border-radius: 8px; 
}
.profile-page-links ul  {
  list-style: none;
  margin: 0;
  padding: 0;
}

.profile-page-links ul li  {
    margin: 10px 0;
 
}
.profile-page-links ul li a {
    text-decoration: none;
    color: #406a52;
    font-weight: bold;
    display: block;
  }
  .profile-page-links ul li  .arrow-icon {
    display: inline-block;
    float: right;
    position: relative;
    top: 4px;
  }
  














